<div class="container">
    <%# toc %>
    <%if(theme.post_toc_enable && toc(page.content).length!==0){%>
        <%- partial('_partial/toc') %>
    <%}%>
    <br>
    <%# article %>
    <article class="post-wrap">
        <header class="post-header">
            <h1 class="post-title"><%= page.title %></h1>
            <br>
            <% if(theme.post_meta_enable){ %>
                <div class="post-meta">

                    <% if(page.date && theme.post_date_enable){ %>
                        <span class="post-time">
                        <i><%- date(page.date, theme.date_format)  %>&nbsp;&nbsp;<%- time(page.date, theme.time_format)%>, by <%- config.author %></i><br>
                        </span>

                    <% } %>

                    <% if(page.categories.length!==0 && theme.post_category_enable){ %>
                        <span class="post-category">
                    <b>Categories:
                            <% page.categories.forEach(item=>{ %>
                                <<a href="<%- url_for(item.path) %>"><%- item.name %></a>>
                            <% }) %></b>
                        </span>
                    <br>
                    <% } %>

                    <% if(page.tags.length!==0){ %>
                        <span class="post-tag">
                        <b>Tags:
                            <% page.tags.forEach(item=>{ %>
                                #<a href="<%- url_for(item.path) %>"><%- item.name %></a>
                            <% }) %>
                        </b>
                        </span>
                    <br>
                    <% } %>



                    <br>
                </div>
            <% } %>
        </header>


        <div class="post-content">
            <%- page.content %>
            <br>
        </div>

        <br>
        <br>

        <div style="text-align:center;font-weight:bold"><h2>Comments</h2></div>
        <div class="post-comment" id="vssue"></div>
        <div class="comments-fold" style="text-align:center;font-weight:bold"><button onclick="myFunction()" id="comment-switch">Hide Comments</button></div>

        <% if(theme.post_copyright_enable){ %>

            <section class="post-copyright">
                <span><b>Categories:</b></span>
                <span class="copyright-item">
                    <% if(page.categories.length!==0){%>
                    <% page.categories.forEach(item=>{ %>
                        <<a href="<%- url_for(item.path) %>"><%- item.name %></a>>
                    <% }) %>
                        <% } %>
                </span>
                <br>
                <span><b>Tags:</b></span>
                <span class="copyright-item">
                    <% if(page.tags.length!==0){%>
                    <% page.tags.forEach(item=>{ %>
                        #<a href="<%- url_for(item.path) %>"><%- item.name %></a>
                    <% }) %>
                        <% } %>
                </span>

                <% if(theme.post_copyright_author_enable){ %>
                    <p class="copyright-item">
                        <span><b>Author:</b></span>
                        <span><%- config.author %></span>
                    </p>
                <% } %>

                <% if(theme.post_copyright_permalink_enable){ %>
                    <p class="copyright-item">
                        <span><b>Permalink:</b></span>
                        <span><a href="<%- page.permalink %>"><%- page.permalink %></a></span>
                    </p>
                <% } %>

                <% if(theme.post_copyright_license_enable){ %>
                    <p class="copyright-item">
                        <span><b>License:</b></span>
                        <span><%- theme.post_copyright_license_text %></span>
                    </p>
                <% } %>

                <% if(theme.post_copyright_slogan_enable){ %>
                     <p class="copyright-item">
                         <span>Slogan:</span>
                         <span><%- theme.post_copyright_slogan_text %></span>
                     </p>
                <% } %>

            </section>
        <% } %>


        <div>
            <a href="javascript:window.history.back();">↵ Back</a>
            <span> &nbsp;&nbsp;&nbsp;</span>
            <a href="<%- config.root %>">❏ Home</a>

        </div>

        <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
        <script src="https://unpkg.com/vssue/dist/vssue.github.min.js"></script>
        <script>
            new Vue({
                el: '#vssue',
                data: {
                    title: location.pathname,
                    options: {
                        owner: 'SilhDing',
                        repo: 'SilhDing.github.io',
                        clientId: '3f9bfd9e4971acfb2a1e',
                        clientSecret: '7dc6a9ad1aa186edb0cbb5612e69fdbc36a323d9', // only required for some of the platforms
                    },
                },
                template: `<vssue :title="title" :options="options"></vssue>`,
            })
            function myFunction() {
              var x = document.getElementsByClassName("vssue-comments")[0];
              if (x == undefined) {
                return ;
              }
              var property = x.style.getPropertyValue("display");
              if (property === "none") {
                x.style.setProperty("display","block");
                document.getElementById("comment-switch").innerHTML="Hide Comments";
              } else {
                x.style.setProperty("display","none");
                document.getElementById("comment-switch").innerHTML="Show Comments";
              }
            }
        </script>

        <br>
        <br>


        <section class="post-nav">
            <% if(post.prev){ %>
                <a class="prev" rel="prev" href="<%- url_for(post.prev.path)%>"><%- post.prev.title%></a>
            <% } %>
            <% if(post.next){ %>
            <a class="next" rel="next" href="<%- url_for(post.next.path)%>"><%- post.next.title%></a>
            <% } %>
        </section>


    </article>
</div>
